@import "tailwindcss";
/* 1. Register the HeroUI plugin */
@plugin "../hero.config.ts"; /* Adjust path to where you created hero.ts */
/* 2. Tell Tailwind to scan HeroUI components for utility classes */
/* Adjust the path traversal (../) based on where this CSS file is located relative to node_modules */
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";


:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000d0;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
